/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border-radius: 10px;
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cell:hover {
    background-color: #fcb69f;
    transform: scale(1.1);
}

.cell:active {
    transform: scale(1);
}

.message {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ff6f61;
    font-weight: bold;
}

#restartButton {
    padding: 10px 30px;
    font-size: 18px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#restartButton:hover {
    background-color: #ff4f41;
    transform: translateY(-3px);
}

#restartButton:active {
    transform: translateY(0);
}
